@if(step === 1){
<section class="form">
  <h1 class="form-header">Find your account</h1>
  <form
    class="max-w-sm mx-auto"
    [formGroup]="verifyEmailForm"
    (ngSubmit)="verifyEmail()"
  >
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-blue-900"
        >Enter your email address</label
      >
      <input
        type="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Email address"
        formControlName="email"
      />
      @if (verifyEmailForm.get('email')?.errors &&
      (verifyEmailForm.get('email')?.touched ||
      verifyEmailForm.get('email')?.dirty)) {
      <div class="error">
        @if(verifyEmailForm.get('email')?.getError('required')){
        <p>Email is Required</p>
        }@else if (verifyEmailForm.get('email')?.getError('pattern')) {
        <p>Wrong Email</p>
        }
      </div>
      }
    </div>
    <div class="flex justify-between items-center">
      <div>
        <p>
          Remmeber password?
          <a class="text-blue-500 cursor-pointer" routerLink="/login">Login</a>
        </p>
      </div>
      <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center block ms-8"
      >
        <span class="mx-3">Continue </span>@if (isLoading) {
        <span class="-ms-3">
          <i class="fas fa-spin fa-spinner"></i>
        </span>
        }
      </button>
    </div>
    @if (messageErr) {
    <div class="error">
      <p>{{ messageErr }}</p>
    </div>
    }
    <p>
      Don't have an account?
      <a class="text-blue-500 cursor-pointer" routerLink="/register"
        >Register</a
      >
    </p>
  </form>
</section>

} @else if(step === 2){
<section class="form">
  <h1 class="form-header">Confirm your account</h1>
  <p class="text-gray-400">We send a code to your email address</p>
  <p class="text-gray-700">
    {{ verifyEmailForm.get("email")?.value }}
    <a class="text-blue-500 cursor-pointer" (click)="enterEmailAgain()">
      Edit</a
    >
  </p>
  <form
    class="max-w-sm mx-auto"
    [formGroup]="verifyCodeForm"
    (ngSubmit)="verifyCode()"
  >
    <div class="mb-5">
      <label for="code" class="block mb-2 text-sm font-medium text-blue-900"
        >Enter code to confirm your account</label
      >
      <input
        type="text"
        id="code"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Enter code"
        formControlName="resetCode"
      />
      @if (verifyCodeForm.get('resetCode')?.errors &&
      (verifyCodeForm.get('resetCode')?.touched ||
      verifyCodeForm.get('resetCode')?.dirty)) {
      <div class="error">
        @if(verifyCodeForm.get('resetCode')?.getError('required')){
        <p>Code is Required</p>
        }@else if (verifyCodeForm.get('resetCode')?.getError('pattern')) {
        <p>Wrong Code</p>
        }
      </div>
      }
    </div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center block ms-auto"
    >
      <span class="mx-3">Continue </span>@if (isLoading) {
      <span class="-ms-3">
        <i class="fas fa-spin fa-spinner"></i>
      </span>
      }
    </button>
    @if (messageErr) {
    <div class="error">
      <p>{{ messageErr }}</p>
    </div>
    }
  </form>
</section>
} @else if(step === 3){
<section class="form">
  <h1 class="form-header">Create a New Password</h1>
  <p class="text-gray-400 mb-4">
    Create a password with at least 6 letters or numbers.
  </p>
  <form
    class="max-w-sm mx-auto"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword()"
  >
    <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-blue-900"
        >Your New Password</label
      >
      <input
        type="password"
        id="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="New password"
        formControlName="newPassword"
      />
      @if (resetPasswordForm.get('newPassword')?.errors &&
      (resetPasswordForm.get('newPassword')?.touched ||
      resetPasswordForm.get('newPassword')?.dirty)) {
      <div class="error">
        @if(resetPasswordForm.get('newPassword')?.getError('required')){
        <p>Password is Required</p>
        }@else if (resetPasswordForm.get('newPassword')?.getError('pattern')) {
        <p>Wrong Password</p>
        }
      </div>
      }
    </div>
    <div class="mb-5">
      <label
        for="rePassword"
        class="block mb-2 text-sm font-medium text-blue-900"
        >Confirm Password</label
      >
      <input
        type="password"
        id="rePassword"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      @if (resetPasswordForm.getError('mismatch') &&
      (resetPasswordForm.get('confirmPassword')?.touched ||
      resetPasswordForm.get('confirmPassword')?.dirty)) {
      <div class="error">
        <p>Password doesn't match</p>
      </div>
      }
    </div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center block ms-auto"
    >
      <span class="mx-3">Continue </span>@if (isLoading) {
      <span class="-ms-3">
        <i class="fas fa-spin fa-spinner"></i>
      </span>
      }
    </button>
    @if (messageErr) {
    <div class="error">
      <p>{{ messageErr }}</p>
    </div>
    }
  </form>
</section>
}
